.heading{
    text-align: center;
    margin: 20px 0;
    font-size: 2rem;
    color: rgb(65, 54, 54);
}
.products{
   display : grid;
   grid-template-columns: repeat(4,1fr);
   gap: 20px;
   padding: 20px;
   text-decoration: none;
}